<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>图片上传</title>
    <link rel="stylesheet" href="/static/css/upload.css" />
    <link rel="stylesheet" href="/static/css/item.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/cut.css" />
    <script>
      var data = [
        ["购买方名称", 0.17620000000000002, 0.2145, 0.0934, 0.0305, "未识别"],
        ["销售方名称", 0.1754, 0.7513, 0.18030000000000002, 0.0254, "未识别"],
        [
          "发票类型",
          0.32049999999999995,
          0.0508,
          0.3615,
          0.06849999999999999,
          "未识别",
        ],
        ["开票日期", 0.7737999999999999, 0.1294, 0.1115, 0.0292, "未识别"],
      ];
      function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
          const reader = new FileReader();
          const formData = new FormData();
          formData.append("file", input.files[0]);
          fetch("/uploadpdf", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.blob())
            .then((data) => {
              //设置图片的src
              const imageUrl = URL.createObjectURL(data);
              // 设置图片的src
              preview.src = imageUrl;
              document.querySelector(".提示词").style.display = "none";
            });
        }
      }
      function 识别() {
        //当你上传文件后，点击上传，会触发这个函数
        var filename = document.getElementById("fileInput").value;
        filename = filename.split("\\").pop();
        data.forEach((item) => {
          fetch("/ocr", {
            method: "POST",
            body: JSON.stringify({
              filename: filename,
              x: item[1],
              y: item[2],
              dx: item[3],
              dy: item[4],
            }),
          })
            .then((response) => response.text())
            .then((data) => {
              //在upload-container中找到
              item[5] = data;
              初始化();
            });
        });
      }
      function 获取裁剪结果(element) {
        //遍历data，找到对应的坐标
        var x, y, dx, dy;
        data.forEach((item) => {
          if (item[0] == element) {
            x = item[1];
            y = item[2];
            dx = item[3];
            dy = item[4];
          }
        });
        const preview = document.getElementById("preview");
        const canvas = document.createElement("canvas");
        const ctx = canvas.getContext("2d");
        const xx = preview.width * x;
        const yy = preview.height * y;
        const w = preview.width * dx;
        const h = preview.height * dy;
        canvas.width = w;
        canvas.height = h;
        ctx.drawImage(preview, xx, yy, w, h, 0, 0, w, h);
        //使用sweetAlert展示裁剪结果,img自适应大小
        swal({
          title: "识别区域",
          content: {
            element: "img",
            attributes: {
              src: canvas.toDataURL(),
              style: "width:100%;height:auto",
            },
          },
        });
      }
      function 修改区域(element) {
        // 获取图像预览和区域元素
        var img = document.getElementById("preview");
        var cutImg = document.querySelector(".cut-img");

        // 显示图像预览区域
        cutImg.style.display = "flex";
        // 设置图像预览区域的图像为当前图像
        cutImg.querySelector("img").src = img.src;

        //点击除了图像外的地方，隐藏图像预览区域
        cutImg.onclick = function (e) {
          if (e.target == cutImg) {
            cutImg.style.display = "none";
          }
        };

        //设置img左上角为0,0,右下角为1,1,获取鼠标按下时的百分比坐标和鼠标抬起时的百分比坐标
        var x1, y1, x2, y2;
        cutImg.onmousedown = function (e) {
          x1 = e.offsetX / img.width;
          y1 = e.offsetY / img.height;
        };
        cutImg.onmouseup = function (e) {
          x2 = e.offsetX / img.width;
          y2 = e.offsetY / img.height;
          //如果鼠标抬起时的坐标小于按下时的坐标，交换两者的值
          if (x1 > x2) {
            [x1, x2] = [x2, x1];
          }
          if (y1 > y2) {
            [y1, y2] = [y2, y1];
          }
          if (x1 < 0 || x1 > 1 || x2 < 0 || x2 > 1) {
            return;
          }
          const preview = document.getElementById("preview");
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const xx = preview.width * x1;
          const yy = preview.height * y1;
          const w = preview.width * (x2 - x1);
          const h = preview.height * (y2 - y1);
          canvas.width = w;
          canvas.height = h;
          ctx.drawImage(preview, xx, yy, w, h, 0, 0, w, h);
          //使用sweetAlert展示裁剪结果,img自适应大小
          swal({
            title: "裁剪区域如下",
            content: {
              element: "img",
              attributes: {
                src: canvas.toDataURL(),
                style: "width:100%;height:auto",
              },
            },
          });
          //遍历data，修改对应的坐标
          data.forEach((item) => {
            if (item[0] == element) {
              item[1] = x1;
              item[2] = y1;
              item[3] = x2 - x1;
              item[4] = y2 - y1;
            }
          });
        };
      }
      function 初始化() {
        //找到info-container
        const infoContainer = document.querySelector(".info-container");
        infoContainer.innerHTML = "";
        var item = data.forEach((item) => {
          infoContainer.innerHTML += `<div class="info-item">
            <div class="info-title">${item[0]}</div>
            <div class="info-content">
              <input type="text" id="type" value="${item[5]}"/>
            </div>
            <div class="识别区域" onclick="获取裁剪结果('${item[0]}')">👀</div>
            <div class="修改识别区域" onclick="修改区域('${item[0]}')">✍</div>
            <div class="删除" onclick="删除('${item[0]}')">🔥</div>
          </div> `;
        });
      }
      function 加一条() {
        //swlt弹窗，输入框，询问用户要添加的条目名称
        swal("请输入要添加的条目名称:", {
          content: "input",
        }).then((value) => {
          //如果用户输入了内容，将内容添加到data中
          if (value) {
            data.push([value, 0, 0, 0.5, 0.5, "未识别"]);
            初始化();
          }
        });
      }
      function 删除(element) {
        //遍历data，找到对应的元素，删除
        data.forEach((item, index) => {
          if (item[0] == element) {
            data.splice(index, 1);
          }
        });
        初始化();
      }
      function 保存至数据库() {
        var filename = document.getElementById("fileInput").value.split("\\").pop();
        //提示是否保存至数据库
        swal({
          title: "是否保存"+filename+"至数据库?",
          icon: "warning",
          buttons: {
            cancel: "取消",
            confirm: "确定",
          },
        })
        .then((message) => {
          if(message){
            fetch("/save", {
              method: "POST",
              body: JSON.stringify({
                filename: filename,
                data: data,
              }),
            })
          }
        });
      }
      document.addEventListener("DOMContentLoaded", 初始化);
    </script>
  </head>
  <body>
    <div class="cut-img">
      <img src="" alt="" draggable="false" />
    </div>
    <div class="main">
      <div class="upload-container">
        <input
          type="file"
          id="fileInput"
          accept=".pdf"
          onchange="previewImage(event)"
        />
        <h1 class="提示词">点击上传，当前仅支持pdf</h1>
        <img id="preview" class="upload-preview" src="" alt="" />
      </div>
      <div class="add-item" onclick="加一条()">
        <h2>加一条</h2>
      </div>
      <div class="info-container">
        <!-- 此处将由js添加条目 -->
      </div>
    </div>
    <div class="按钮">
      <button class="upload-info" onclick="保存至数据库()">保存至数据库</button>
      <button class="upload-img" onclick="识别()">识别</button>
    </div>  
  </body>
</html>
